<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275726352179-js2obc7u0s1g3trace2c1u0k2pie6rrs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275726352179-js2obc7u0s1g3trace2c1u0k2pie6rrs</string>
	<key>API_KEY</key>
	<string>AIzaSyBC-AvLED-KqpRNwN2pnCpZe0CpNR8QPLI</string>
	<key>GCM_SENDER_ID</key>
	<string>275726352179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mw.beam.beamwalletiOS</string>
	<key>PROJECT_ID</key>
	<string>beamwallet-dbe7c</string>
	<key>STORAGE_BUCKET</key>
	<string>beamwallet-dbe7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275726352179:ios:f0ea0895016205a1</string>
	<key>DATABASE_URL</key>
	<string>https://beamwallet-dbe7c.firebaseio.com</string>
</dict>
</plist>