<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Beam Wallet Testnet</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>BGTaskSchedulerPermittedIdentifiers</key>
			<array>
				<string>com.mw.beam.beamwalletiOS.task</string>
			</array>
			<key>CFBundleDocumentTypes</key>
			<array>
				<dict>
					<key>CFBundleTypeIconFiles</key>
					<array/>
					<key>CFBundleTypeName</key>
					<string>Dat model</string>
					<key>CFBundleTypeRole</key>
					<string>Editor</string>
					<key>LSHandlerRank</key>
					<string>Alternate</string>
					<key>LSItemContentTypes</key>
					<array>
						<string>dat</string>
					</array>
				</dict>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Dat file</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.giena.Interface.document.dat</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.mw.beam.beamwalletiOS</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bmwallettestnet</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<string>NO</string>
	<key>FirebaseScreenReportingEnabled - 2</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tg</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>The camera is needed to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app requires Face ID permission to authenticate using Face recognition</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save transaction details and scan QR-codes from the photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Provide gallery access to select QR code</string>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>ProximaNova-Bold.ttf</string>
		<string>ProximaNova-Regular.ttf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SFProText-Semibold.otf</string>
		<string>SF-Pro-Display-LightItalic.otf</string>
		<string>SF-Pro-Display-RegularItalic.otf</string>
		<string>SF-Pro-Display-Light.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icSend3D</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Send</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Send</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icReceive3D</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Receive</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Receive</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icScanQr3D</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scan QR code</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Scan</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>icBeam3d</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Where to buy Beam</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).Buy</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenTestNet</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Dat model</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.giena.Interface.document.dat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dat</string>
				</array>
			</dict>
		</dict>
		<dict/>
	</array>
</dict>
</plist>
